<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDocta App : la santé à porté de main accédez au soins médicaux de qualité </title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div class="header_block">
        <header>
            <div class="contact_top">
                contact top
            </div>
            <div class="menu_top">
                menu_top
            </div>
        </header>
    </div>

    <div class="container">
        <section>

        </section>
    </div>

    <div class="footer_block">
        <footer>

        </footer>
    </div>
</body>

</html>
