html, body
{
    margin:0px;
    padding: 0px;
}

.header_block{
    display: inline-block;
    border: groove;
    width:100%;
    height: 100px;
}

.contact_top {
    height: 30px;
    width: inline-block;
    width: inherit;
    border: groove;
}

.menu_top{
    display: inline-block;
    border:groove;
    height: 100px;
    width: inherit;
}
